---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";


const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <style>
      h1 {
        color: purple;
      }
    </style>

    <Header />
    <slot />

    <h1>My Astro Site</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor ea
      quasi velit aut.
      <br />Vero sed, esse quasi libero earum non voluptatibus distinctio
      excepturi facere!
    </p>

    <Footer />

    <script>
		
		import "../scripts/menu.js";
    </script>
  </body>
</html>
